<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.imaec.wishplace">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.imaec.wishplace.ui.view.activity.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/kakao_scheme"
                    android:host="@string/kakaolink_host" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.view.activity.IntroActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.view.activity.WriteActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".ui.view.activity.CategoryEditActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.view.activity.CategorySelectActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.view.activity.DetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.view.activity.ImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Image"/>
        <activity android:name=".ui.view.activity.EditActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.view.activity.ListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.view.activity.LicenseActivity"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id"/>
    </application>

</manifest>